<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jasonzb.stephanie-uptime-gist</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jasonzb/bin/stephanie-uptime-gist-push.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/jasonzb/Library/Logs/stephanie-uptime-gist.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jasonzb/Library/Logs/stephanie-uptime-gist.stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/anaconda3/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
